.login-container {
  height: 100vh;
   width: 100vw; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  font-family: "Poppins", sans-serif;
}

.login-container h2 {
  color: #060606;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 280px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #6a5acd;
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

button:hover {
  background-color: #5a4acb;
}

p {
  margin-top: 15px;
  font-size: 14px;
  color: #000000;
}

a {
  color: #6a5acd;
  text-decoration: none;
  font-weight: 500;
}
