.signup-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fdf8ff;
  font-family: "Poppins", sans-serif;
}

.signup-container h2 {
  color: #444;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 280px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #7b68ee;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #6a5acd;
}

p {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

a {
  color: #7b68ee;
  text-decoration: none;
  font-weight: 500;
}
